body {
    background-color: #A8C99A;
    /*---------------------------
    make text selection impossible
    --------------------------------*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  #brand a {
    padding: 5px 0 0 0;
    color: #aaa;
    font-size: 10px;
    letter-spacing: 3px;
    text-decoration: none;
    outline: 0;
  }
  
  #brand a:hover {
    color: #BFCCD2;
  }
  
  #calculator {
    position: relative;
    text-align: center;
    background-color: #555;
    width: 300px;
    height: 390px;
    margin: 27px auto;
    padding: 10px;
    border-radius: 20px;
    -webkit-box-shadow: 0 6px 3px #444, 0 2px 2px #ccc inset;
    -moz-box-shadow: 0 6px 3px #444, 0 2px 2px #ccc inset;
    box-shadow: 0 6px 3px #444, 0 2px 2px #ccc inset;
    cursor: default;
  }
  
  #displayM {
    position: absolute;
    width: 27px;
    height: 12px;
    left: 23px;
    top: 45px;
    line-height: 1;
    color: #88A0AC;
    text-align: left;
    padding-left: 3px;
  }
  
  #screen {
    width: auto;
    height: 70px;
    margin: 9px 10px 8px 10px;
    background-color: #ECF5FF;
    -webkit-box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2) inset, 0 -4px 2px rgba(0, 0, 0, 0.2) inset, 0 4px 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2) inset, 0 -4px 2px rgba(0, 0, 0, 0.2) inset, 0 4px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2) inset, 0 -4px 2px rgba(0, 0, 0, 0.2) inset, 0 4px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#D7EAFF), to(#FFFFFF));
    background-image: -webkit-linear-gradient(top, #D7EAFF, #ECF5FF, white);
    background-image: -moz-linear-gradient(top, #D7EAFF, #ECF5FF, white);
    background-image: -ms-linear-gradient(top, #D7EAFF, #ECF5FF, white);
    background-image: -o-linear-gradient(top, #D7EAFF, #ECF5FF, white);
    background-image: linear-gradient(180deg, #D7EAFF, #ECF5FF, white);
    padding: 7px 3px 5px 3px;
  }
  
  #outputScr {
    font-size: 14px;
    overflow: hidden;
    height: 21px;
    width: 250px;
    background-color: transparent;
    color: #777;
    border: 0;
    margin: 3px auto;
    outline: 0;
    text-align: right;
    cursor: default;
  }
  
  #inputScr {
    width: 250px;
    background-color: transparent;
    color: #777;
    border: 0;
    margin: 3px auto;
    outline: 0;
    text-align: right;
    cursor: default;
    font-size: 21px;
    line-height: 1;
    padding-top: 3px;
    overflow: hidden;
    height: 27px;
  }
  
  #buttons {
    padding-top: 2px;
  }
  
  #zero,
  #decpoint,
  #plus,
  #one,
  #two,
  #three,
  #minus,
  #equals,
  #four,
  #five,
  #six,
  #times,
  #reciprocal,
  #seven,
  #eight,
  #nine,
  #divide,
  #percent,
  #backspace,
  #ce,
  #c,
  #plusminus,
  #sqroot,
  #mc,
  #mr,
  #ms,
  #mp,
  #mm {
    color: #333;
    font-size: 17px;
    padding: 5px 3px 3px 3px;
    -webkit-text-shadow: 0 -1px white, 0 1px #bbb;
    -moz-text-shadow: 0 -1px white, 0 1px #bbb;
    text-shadow: 0 -1px white, 0 1px #bbb;
    display: inline-block;
    width: 45px;
    height: 34px;
    margin: 5px 2px;
    background-color: #EBEBEB;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#D8D8D8));
    background-image: -webkit-linear-gradient(top, #FFFFFF, #D8D8D8);
    background-image: -moz-linear-gradient(top, #FFFFFF, #D8D8D8);
    background-image: -ms-linear-gradient(top, #FFFFFF, #D8D8D8);
    background-image: -o-linear-gradient(top, #FFFFFF, #D8D8D8);
    background-image: linear-gradient(180deg, white, #D8D8D8);
    border-radius: 7px;
    -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2), 0 -2px 3px rgba(0, 0, 0, 0.3) inset, 0 -2px 0 white inset;
    -moz-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2), 0 -2px 3px rgba(0, 0, 0, 0.3) inset, 0 -2px 0 white inset;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 -2px 3px rgba(0, 0, 0, 0.4) inset, 0 -2px 0 white inset;
    vertical-align: middle;
  }
  
  #minus,
  #plus {
    margin-right: -4px;
  }
  
  #zero {
    width: 98px;
  }
  
  #equals {
    height: 78px;
    margin-right: 11px;
    float: right;
  }
  
  #backspace {
    font-size: 160%;
    line-height: 0.8;
  }
  
  #plusminus {
    line-height: 1.3;
  }
  
  #times {
    font-size: 150%;
    line-height: 1.5;
  }
  
  #minus {
    font-size: 123%;
    line-height: 1.2;
  }
  
  #plus {
    font-size: 123%;
    line-height: 1.4;
  }
  
  #decpoint {
    font-size: 160%;
    line-height: 1;
  }
  
  #equals {
    font-size: 170%;
    padding-top: 20px;
  }
  
  #buttons div:hover {
    background-color: #EBEBEB;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F9F9), to(#BFCCD2));
    background-image: -webkit-linear-gradient(top, #F7F9F9, #BFCCD2);
    background-image: -moz-linear-gradient(top, #F7F9F9, #BFCCD2);
    background-image: -ms-linear-gradient(top, #F7F9F9, #BFCCD2);
    background-image: -o-linear-gradient(top, #F7F9F9, #BFCCD2);
    background-image: linear-gradient(180deg, #F7F9F9, #BFCCD2);
  }
  
  #notes {
    width: 300px;
    margin: auto;
    background-color: #CDE0C5;
    border: 2px solid #aaa;
    border-radius: 10px;
    padding: 5px;
  }
  
  ul {
    padding-left: 21px;
    margin-bottom: 0;
  }